.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root p {
  color: white;
  text-transform: capitalize;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em #ba0303;
  font-weight: bold;
  font-size: 20px;
}

.fighter-preview___root img {
  height: 300px;
}
